<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack Workflow</title>
</head>
<body>
    {{!-- commet --}}

   {{> partials/navigation}}
    <h1>Webpack, Sass & A Template Engine</h1>

   {{> partials/footer}}
</body>
</html>